

  body {
    color: white;
    font-family: GapSans, ARIAL;
    font-size: 2vw;
    line-height: auto;
    background: black;
  


  }

  a:hover {
    color: white;
  }

  a {
    color: white;
    font-size: 2vw;
    text-decoration: none;
  }

/*  @keyframes example {
    from {
      background-color: gold;
    }

    to {
      background-color: black;
    }
  }*/


  .LIVRES {
    width: 90%;
    position: absolute;
    top: 12%;
    left: 3%;
    column-count: 3;

  }

  .BIB .date {

    color: white;
  }

.BIB .section1{
  position: fixed;
  left: 2%;
  top: 2%;
letter-spacing: 3.6vw;


}
  .BIB .auteur {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px gold;
  }


  .BIB {

    position: absolute;
    left: 3%;
    right: 3%;
    color: gold;


  }

  .LIVRES .auteur {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px white;
  }


.titre{
  font-size: 5vw;
text-decoration: overline;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px white;
}

.ARTICLES {
    position: absolute;
    top: 10vw;
    column-count: 3;

  }


  @media screen and (max-width: 480px)
  {
    .LIVRES {

      column-count: 2;

    }

  }
