/**
 * CSS: Basics
 * https://developer.mozilla.org/en-US/docs/Web/CSS
 *
 */
html {
cursor: url('../medias/REHAP.png'), pointer;
}

body {
  width: 100%;
  height: 100%;
  /*background: #fff5d1;*/
  background: #f0f8ff;
  /*background-color:hsl(0,0%,75%);*/
cursor: url('../medias/REHAP.png'), pointer;
  /*  background-color: #84754e;*/
/*  background: repeating-radial-gradient(farthest-side ellipse at bottom,black, white 100000px);*/
}




h2 {
  font-family: 'IBMPlexMono-Bold';
  font-size: 2.4em;
  color: blue;
  display: inline-block;
}

p{
  font-family: 'IBM-serif';
  font-size: 1.6vw;
  text-align: left;
  line-height: 2.2vw;

}

a{
  cursor: url('../medias/nothing.png'), pointer;
}

.recit{
  font-family: 'IBM-serif-italic';
  font-size: 1.5vw;
  font-style:italic;
  text-align: left;
  text-indent: 30%;
}
/*
.indent {
  font-family: 'IBM-serif';
  font-size: 1.5vw;
  text-align: left;
  text-indent: 10%;
  line-height: 1.95vw;
}
*/



i {
  font-family: 'IBMPlexMono-LightItalic';
  font-size: 0.40em;
  line-height: 1.15em;
}


/* WARNING: DIV LEGENDES IMAGES

.item {
  display: block;
  float: inherit;
  position: absolute;
  left: 40%;
  border-radius: 20px;
  margin: auto;
  padding-top: 35px;
  text-align: center;


}


h3 {
  font-family: 'GapSansBold';
  font-size: 8vw;
  color: white;
  text-align: center;
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 2px black;
  animation: allh3 0.1s 10;
}

@keyframes allh3 {
0% { }
50% { color: red; }
}
*/


.filtered-8{
  filter: url(#filter-8);
  fill: blue;
  font-family: 'GapSansBold';
  font-size: 8vw;
  line-height: 8vw;
padding: 1.3vw;

}


.filtered-7{
  filter: url(#filter-7);
  fill: blue;
  font-family: 'GapSansBold';
  font-size: 50px;
  line-height: 5vw;
padding: 1.3vw;
}

/* WARNING: DIV TEXTE */

.TEXTE {
  display: block;
  position: absolute;
  top:0%;
  margin: 0% 30% 0% 30%;
  line-height: 2vw;
}

/*
.filtered-8 {
  filter: url(#filter-8);
  fill: red;
  font-family: 'GapSansBold';
  font-size: 100px;
  text-align: justify;
}
*/
.Titre {
  text-align: center;
  font-size: 1vw;
  font-family: 'GapSansBold';
}


.wrkshp p {
  font-family: 'IBM-serif-italic';
}

/* WARNING: DIV CATEGORIES */

.categories {
  position: fixed;
  z-index: 1;
  top: 1%;
  left: 1%;
  bottom:30%;
  width: 25%;
  height: 98%;
  display: inline-block;
  /*
transition: width 2s;*/
  float: left;
  line-height: 1.3vw;
  overflow: scroll;
  color: black;
}



.cat:hover {
font-family: 'GapSansBold';
  /*background: linear-gradient(50deg, #0b1ef4, #0baef4, #0bf4e7, #0bf44d, #def40b, #f4b70b, #f4510b, #f40b0b, #f40b55, #f40bbc, #a60bf4);
  */
  /*font-size: 4vw;
  line-height: 4vw;*/
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 0.7px black;
}

.cat {
  display: block;
  font-family: 'GapSans';
  font-size: 2vw;
  text-decoration: underline;
  line-height: 3vw;

}


.cat a{
  color:black;
  text-decoration: none;
}
.cat a:active{
  color: red;
}

.cat-cat:hover {
font-family: 'GapSansBold';
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 0.7px black;
}

.cat-cat a{
  color:black;
  text-decoration: none;
}

.cat-cat {
  display: block;
  font-family: 'GapSans';
  font-size: 1.5vw;
    margin-left: 10%;

}

.cat-cat1:hover {
font-family: 'GapSansBold';
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 0.7px black;
}

.cat-cat1 {
  display: block;
  font-family: 'GapSans';
  font-size: 1.2vw;
  margin-left: 17%;

}

.cat-cat1 a{
  color:black;
  text-decoration: none;
}


/* WARNING: DIV TITRES DES PARTIES DANS LA DIV NOTES */



.NOTES .part {

  font-family: 'GapSansBold';
  font-size: 2.5vw;
  line-height: 3vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
}

.part1{

  display: inline-block;
  font-family: 'GapSansBold';
  font-size: 2vw;
  line-height: 3vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .8px black;
}

/* WARNING: espace: &nbsp
espace-insécable : &#8239;
*/


.part2{
height: 3700px;
  display: inline-block;
  font-family: 'GapSansBold';
  font-size: 1.5vw;
  line-height: 2vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .5px black;
}


.titre-part {
  font-family: 'GapSans';
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px black;
  font-size: 3vw;
}

.titre-sspart {
  text-decoration: underline;
  font-size: 2vw;
}

.sssspart {
  font-style: italic;
  text-decoration: underline;
  transform: skewY(3.5deg);
}

/* WARNING: DIV NOTES */


.TEXTE .NOTES {
font-size: 1vw;

}

p .NOTES{
  text-align: left;
}

.NOTES {
  position: absolute;
  font-family: 'GapSans';
  left:110%;
  float: right;
  line-height: 1.2em;
width: 60%;
  font-size: 75%;
}

.NOTES a{
  color:red;
}

.NOTES .part {
  position: absolute;
  top: 100%;
}


.quote {
  font-family: 'GapSans';
  font-size: 2em;
  line-height: 1.1em;
  text-align: left;
  vertical-align: super;
}

.numNote a:hover{

   transform: rotate(-180deg);
}

.numNote a{
display: inline-block;
    font-family: 'Mill';
  font-size: 3vw;
  text-decoration: none;
  line-height: 9px;
color: black;

}

.numNoteBas a{
text-decoration: none;
color: black;
  font-family: GapSans;
font-size: 1vw;

}

/* WARNING: DIV Bibliographie */

.biblio a:hover{
  font-size: 2vw;
}

.biblio a {
  text-decoration: none;
  cursor: url(myBall.cur), alias;
display:inline-block;
color: black;
}

.biblio {
  position: fixed;
  top: 75%;
  right: 1%;
  font-family: 'GapSans';
  float: right;
  width: 60%;
  z-index: 100;
  width: 25%;
  text-align: right;
  line-height: 1.8vw;
  font-size: 1em;
}

.titre{
  position: fixed;
  width: 25%;
  text-align: right;
  text-decoration: underline;
  font-family: 'GapSans';
  font-size: 2em;
}










@media screen and (max-width: 480px)
{

.categories {
opacity: 0;
}


.TEXTE{
  display: block;
  position: absolute;
  top:0%;
  margin: 0% 14% 0% 2%;
  line-height: 2vw;
}

p{
  font-family: 'IBM-serif';
  font-size: 3vw;
  text-align: left;
  line-height: 3.8vw;
}


.biblio a{
  color: red;

}

.biblio {
  position: fixed;
  top: 2%;
  right: 1%;

  font-family: 'GapSans';
  float: right;
  width: 30%;
  z-index: 100;
  width: 25%;
  text-align: right;
  line-height: 28.5vw;
  font-size: .5em;
}

.numNote a{
display: inline-block;
    font-family: 'Mill';
  font-size: 5vw;
  text-decoration: none;
  line-height: 9px;
color: blue;

}

.NOTES {
  display: none;
}

.TEXTE .NOTES {
font-size: 1vw;
}

.NOTES .part {

  font-family: 'GapSansBold';
  font-size: 3.5vw;
  line-height: 3vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
}

.part1{

  display: inline-block;
  font-family: 'GapSansBold';
  font-size: 2.5vw;
  line-height: 3vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .8px black;
}

/* WARNING: espace: &nbsp
espace-insécable : &#8239;
*/


.part2{
height: 3700px;
  display: inline-block;
  font-family: 'GapSansBold';
  font-size: 2vw;
  line-height: 2vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .5px black;
}


}


/* WARNING: TYPOGRAPHIES */


@font-face {
  font-family: 'IBM-serif-italic';
  src: url('../font/IBMPlexSerif-Italic.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'IBM-serif';
  src: url('../font/IBMPlexSerif-Regular.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'GapSans';
  src: url('../font/GapSans.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Cimatics-Dust';
  src: url('../font/Cimatics-Dust.woff') format('woff');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Cimatics-Noise';
  src: url('../font/Cimatics-Noise.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
font-family: 'Caveat';
src: url('../font/Caveat.ttf') format('truetype');
text-rendering: optimizeLegibility;
}

@font-face {
font-family: 'Mill';
src: url('../font/Mill.otf') format('opentype');
text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'CimaticsFull-Mono';
  src: url('../font/CimaticsFull-Mono.ttf') format('truetype');
  text-rendering: optimizeLegibility;
  font-family: 'CimaticsFull-Regular';
  src: url('../font/CimaticsFull-Regular.ttf') format('truetype');
  text-rendering: optimizeLegibility;
  font-family: 'GapSansBold';
  src: url('../font/GapSansBold.ttf') format('truetype');
  text-rendering: optimizeLegibility;
  font-family: 'belgika-40';
  src: url('../font/belgika-40th-webfont.ttf') format('truetype');
  text-rendering: optimizeLegibility;
  font-family: 'Manifont';
  src: url('../font/ManifontGroteskBook.ttf') format('truetype');
  text-rendering: optimizeLegibility;
  font-family: 'ManifontDot';
  src: url('../font/ManifontGroteskBookDot.ttf') format('truetype');
  text-rendering: optimizeLegibility;

  font-family: 'Syne-reg';
  src: url('../font/Syne-Regular.otf') format('truetype');
  text-rendering: optimizeLegibility;
}
