body{
  background-color: black;
  color: white;
}


.colophon{
  position: absolute;
  left: 10%;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: url(#filter-8);
  color: red;
  font-family:'GapSans';
}

.site{
  position: fixed;
  top: 0%;
}

.site h1{
  position: fixed;
  left:3%;
  width: 50vw;
  height: 45vw;
}

.site .content{
  position: absolute;
  margin-top: 5vw;
  left: 2vw;
  padding-left: 2vw;
  width: 45vw;
  font-family: 'GapSans';
  font-size: 3vw;
}

.site .content:hover{
  background-color: blue;
  color: black;
  opacity: 0.8;
}

.tabloid{
position: fixed;
top: 0%;
left: 50%;
width: 50vw;
height: 45vw;
}

.tabloid h1{
  position: fixed;
  left:55%;
}

.tabloid .content:hover{
  background-color: red;
  color: black;
  opacity: 0.8;
}

.tabloid .content{
  position: absolute;
  margin-top: 5vw;
  padding-left: 2vw;
  width: 42vw;
  left: 3vw;
  font-family: 'GapSans';
  font-size: 3vw;
}


.section1{
  font-size: 3vw;
}

.titre{
  font-size: 4vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.6px white;
}

a:hover{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
}

a{
  color: white;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.3px white;
}

@media screen and (max-width: 480px)
{
  .tabloid{
  position: fixed;
  top: 50%;
  left: 0%;

  }


  .tabloid .content{
    position: absolute;
    margin-top: 5vw;
    padding-left: 2vw;
    width: 90vw;
    left: 3vw;
    font-family: 'GapSans';
    font-size: 5vw;
  }


  .site{
    position: fixed;
    left:3%;
    width: 80vw;
    height: 85vw;
  }

  .site .content{
    position: absolute;
    margin-top: 5vw;
    left: 2vw;
    padding-left: 2vw;
    width:90vw;
    font-family: 'GapSans';
    font-size: 5vw;
  }

}



@font-face {
  font-family: 'GapSans';
  src: url('../font/GapSans.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}
