body {
  color: white;
  font-family: GapSans, ARIAL;
  font-size: 2vw;
  line-height: auto;
  background: black;
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 8s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 8s;


}


a:hover {
  color: white;
}

a {
  color: white;
  font-size: 2vw;
  text-decoration: none;
}
/*  @keyframes example {
    from {
      background-color: gold;
    }

    to {
      background-color: black;
    }
  }*/

.titre{
  position: fixed;
  left: 2%;
  top: 4.4%;
letter-spacing: 2.4vw;

}

.ABC{
  position: absolute;
  width:100%;
  top:20%;
  column-count: 3;
}


.NUM a{
  color:white;
  font-family: 'Mill';
  font-size: 8vw;
  text-align: left;
}

.NUM:hover{
   transform: rotateX(-180deg);
}

.NUM{
font-family: 'Mill';
  display: block;
  font-size: 8vw;
  text-align: left;
}

.QUI{
  display: block;

    text-align: left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px white;

  }

.QUOI{
  display: block;

  text-align: left;
font-size: 1.5vw;
}

.QUAND{
  display: block;

  text-align: left;
}

.SOURCE{
  display: block;

  text-align: left;
  font-size: 1.5vw;
}

.merci{
  z-index: -1;
  width: 100%;
  height: 100%;
filter: url(#filter-8);
  position: fixed;
  top: -10%;
  color: red;
      font-family:'GapSans';

}

h2{
  position: absolute;
  top: 0%;
  left:10%;
  font-size: 2vw;
  text-align: center;
}

.personne{
  font-size: 5vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1px white;

}

#A:hover{
  color:red;
}

#A{
  display: block;
}




@font-face {
font-family: 'Mill';
src: url('../font/Mill.otf') format('opentype');
text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'GapSans';
  src: url('../font/GapSans.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}
