/**
 * CSS: Basics
 * https://developer.mozilla.org/en-US/docs/Web/CSS
 *
 */

body {
    margin: 60px auto;
    width: 70%;

    box-sizing: border-box;
}

h1 {
  background: black;
  margin-left: 10px;
  margin-top: 0px;
  text-decoration: overline;
    font-family: 'GapSansBold';
    font-size: 3em;
    text-align: left;
    letter-spacing: 3.5vw;
}
h2{
  font-size: 6vw;
  font-family: 'GapSansBold';
  text-decoration: overline;
  border-top: solid 10px black;
  border-right: solid 10px black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .6px black;
}

h3 {
    font-family: 'GapSans';
}

p{
  font-family: 'IBMPlexSerif';
  font-size: 1.6em;
  line-height: 1.0em;
  -webkit-hyphens: manual;
 -ms-hyphens: manual;
 hyphens: manual;
}

.indent{
  text-indent: 5vw;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style-type: none;
  font-family: 'GapSans';
  font-size: 1.25em;
  line-height: 1.15em;
}

ul{
  list-style-type: none;
}

#intro-hide{
  display: none;
}

.filtered-9{
  filter: url(#filter-8);
  fill: blue;
  font-family: 'GapSansBold';
  font-size: 3.5vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px;
}


.filtered-8{
  position: absolute;
  filter: url(#filter-8);
  fill: blue;
  float: right;
  top: 10px;
  font-family: 'GapSansBold';
  font-size: 20vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 10px;
}

.filtered-7{
  filter: url(#filter-7);
  fill: blue;
  font-family: 'GapSansBold';
  font-size: 10vw;
  top: 50vw;
padding: 1.3vw;
line-height: 9vw;
text-shadow: blue 30px;

}


.sT{
  text-align: left;
  font-size: 3.5vw;
  font-style: italic;
  text-decoration: overline;
  left: 20vw;
}

.ssT{
  font-family: 'GapSans';
  text-decoration: underline;
  font-size: 2em;
  line-height: 1.15em;
  text-align: right;
}

.sssT{
  font-family: 'GapSans';
  font-size: 1.5em;
  line-height: 1.15em;
  text-align: right;
  right: 10vw;
}


.toc{
  display: block;
  font-size: 1.4vw;
margin-right: 1vw;
  margin-top: 4vw;
}

em{
font-family: 'IBMPlexSerif-italic';

}

.T{
  font-family: 'GapSansBold';
  text-align: justify;
  border-radius: 200px;
  border-bottom: solid black 2px;
  text-decoration: overline;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .6px black;
}

.sous-T{
  font-family: 'GapSansBold';
  text-decoration: underline;
  font-size:4.5vw;
  line-height: 1.15em;
  border-radius: 200px;
  border-top: solid black 2px;

  text-align: left;
  border-left: solid 2px black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .6px black;
  text-indent: 2.5vw;
}

.sous-sous-T{
  text-indent: 5vw;
  border-radius: 200px;
  border-left: solid black 2px;
  border-right: solid black 2px;
  font-family: 'GapSansBold';
  font-size: 3.5vw;
  line-height: 1.15em;
  font-style: italic;
    border-right: solid 1px black;
    border-top: solid 1px black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .6px black;
}

.image img {
  position: relative;
  width:100%;
}

em{
  font-family: 'GapSansBold';
}

.quote{
font-family: 'GapSansBold';
font-size: 4.5vw;
left: 10vw;
}

.quote2{
font-family: 'IBMPlexSerif-italic';
font-size: 3vw;
left: 10vw;
}

.ssT{
  boder-top: 20px solid black;
  boder-bottom: 2px solid black;
}

.notes{
  font-family: "IBMPlexMono-LightItalic";
  font-size: 0.90em;
  line-height: 1.125em;
}

#numb{
/*background: linear-gradient(-45deg, #def40b, #f4b70b, #f4510b, #f40b0b, #f40b55, #f40bbc, #a60bf4, #0b1ef4, #0baef4, #0bf4e7, #0bf44d);*/
font-family: 'Mill';
font-size: 4vw;
}

.BIBLI {


}

.BIBLI p{
    font-family: 'GapSans';
    text-align: right;
}

.NUMERO{
  font-family: 'Mill';
  font-size: 8vw;
  text-align: right;
  margin: 5px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;

}

.foot-notes{
  text-align: left;
    font-family: 'GapSansBold';
font-size: 2em;
}

.auteur{
  text-align: left;
    font-family: 'GapSansBold';
font-size: 1.6em;
}

.date{
  font-family: 'GapSansBold';
  font-size: 2em;
  text-align: right;
}

.titre{
  font-family: 'GapSansBold';
  font-size: 2em;
  text-decoration: underline;
  font-style: oblique;
  text-align: left;
}

@font-face {
font-family: 'Cimatics-Base';
src: url('../font/Cimatics-Base.ttf') format('truetype');
text-rendering: optimizeLegibility;
}

@font-face {
font-family: 'IBMPlexSerif';
src: url('../font/IBMPlexSerif-Regular.ttf') format('truetype');
text-rendering: optimizeLegibility;
}


@font-face {
font-family: 'Mill';
src: url('../font/Mill.otf') format('opentype');
text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'GapSansBold';
  src:url('../font/GapSansBold.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'GapSans';
  src: url('../font/GapSans.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}


@font-face {
  font-family: 'Ocr-Pbi-italic';
  src: url('../font/Ocr-Pbi-print-italic.otf') format('opentype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'H-Times-ib';
  src: url('../font/Hershey-Noailles-timesib-1-0.5.otf') format('opentype');
  text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'IBMPlexSerif-italic';
    src:url('../font/IBMPlexSerif-Italic.ttf') format('truetype');
    text-rendering: optimizeLegibility;
}
