/**
 * CSS: Basics
 * https://developer.mozilla.org/en-US/docs/Web/CSS
 *
 */

/* contours: */
/*  border-top: solid 10px #f4b70b;
    border-left: solid 10px #a60bf4;
  border-right: solid 10px #f40b55;
    border-bottom: solid 10px #0bf4e7;
*/
/*background: linear-gradient(-90deg, #def40b, #f4b70b, #f4510b, #f40b0b, #f40b55, #f40bbc, #a60bf4, #0b1ef4, #0baef4, #0bf4e7, #0bf44d);*/
    /*transform: skewX(10.5deg);*/



body {
  cursor: S-Resize;
  box-sizing: border-box;
  background: black;
  /*background: linear-gradient(0deg, black 43%, white 75%);*/
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 20s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 20s;
}

  /* Standard syntax  ANIMATION */

  @keyframes example {
      from {background-color: white;}
      to {background-color: black;}
  }


/*
.message{
position: absolute;
top: 10%;
left: 10%;
  color:white;
  font-family: 'GapSansBold';
  font-size: 45px;
padding: 10vw;
/*
transform: skewX(30deg);
transform: skewY(30deg);*/
/*opacity: 0.5;
line-height: 5vw;
 }
*/

.image img{
  position: relative;
      width: 0%;
}
/*
img{
  position: absolute;
  top: 160%;
  left: 10%;
  width: 20%;
}
*/


#bouton{
  z-index: 1;
  position: fixed;
  top: 73%;
  left:85%;
  width:100px;
  height:100px;
  color: #15b965;
  background: linear-gradient(50deg, #def40b, #f4b70b, #f4510b, #f40b0b, #f40b55, #f40bbc, #a60bf4, #0b1ef4, #0baef4, #0bf4e7, #0bf44d);
  border-radius: 10vw;
}

.sous-T{
position: fixed;
top:3%;
left:3%;
text-align: center;

}

.sous-titre{
  word-spacing: 13vw;
  color: black;
  font-family: 'GapSansBold';
  font-size: 2vw;

}

.Titre{
position: absolute;
top:282%;
left: 20%;
text-align: center;
letter-spacing: 3vw;
text-decoration: underline;
}


.cit{
  margin: 50px;
  text-align: LEFT;
}


.links:hover{
transform: rotateX(180deg);
}

.links{
  position: absolute;
  top: 261%;
  left: 5%;
  text-align: center;
word-spacing: 6vw;
  font-family: 'GapSans';
font-size: 2vw;
}

.FR{
  font-family: 'GapSans';
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;

}

.filtered-8{

  filter: url(#filter-8);
  fill: blue;
  font-family: 'GapSansBold';
  font-size: 10vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 10px;
}


.filtered-7{
  filter: url(#filter-7);
  fill: blue;
  font-family: 'GapSansBold';
  font-size: 10vw;
  top: 50vw;
padding: 1.3vw;
line-height: 9vw;
text-shadow: blue 30px;

}



.filtered-6{
  filter: url(#filter-6);
  fill: blue;
  font-family: 'GapSansBold';
  font-size: 10vw;
padding: 1.3vw;
line-height: 5vw;
}

.svg {
display: none;

}


.EN{
z-index: -1;
  font-family: 'Autopia-Regular';
  font-size: 1.5vw;
  line-height: 1.25em;
  background-image: linear-gradient(#15b965, #4d20e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top:240%;
  left: 5%;
  right: 20%;
  font-style: italic;

}

.auteur2{

  position: absolute;
  top: 110%;
  right:5%;
  float: right;
  color: white;
  font-family: 'GapSans';
  font-size: 3em;
  font-style: italic;
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  transform: skewY(-10.5deg);
}

.auteur{
  position: absolute;
  top: 270%;
  right:5%;
  float: right;
  font-family: 'GapSans';
  font-size: 3em;
  font-style: italic;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  transform: skewY(10.5deg);
}



/* WARNING: devient noir au scroll */



 a {

   text-decoration: none;
   color: white;

 }

.gridText1{

  /*display: grid;*/
  /*grid-template-columns: 8fr 4fr;
  grid-template-rows: auto;
  grid-gap: 10%;*/
  line-height: 1.25em;
/*  background: linear-gradient(50deg, #def40b, #f4b70b, #f4510b, #f40b0b, #f40b55, #f40bbc, #a60bf4, #0b1ef4, #0baef4, #0bf4e7, #0bf44d);*/


}

#not:hover {
  filter: none;
  color: white;

}


.NOTES{
  z-index: 1;
/*  filter: url(#filter-6);*/
  width: 30vw;
  position: absolute;
  top: 35%;
  left: 65%;
  color: white;
  font-family: 'GapSans';
  font-size: 2em;
/*  transform: skewY(-20.5deg);
  transform: skewX(-18.5deg);*/
}

.NOTES1{
  z-index: 1;
  /*filter: url(#filter-6);*/
  width: 30vw;
  position: absolute;
  top: 190%;
  left: 65%;
  color: white;
  font-family: 'GapSans';
  font-size: 2em;

}

.clic{
  position: absolute;
  top: 353%;
  left: 57%;
  font-size: 8em;
  font-family: 'GapSans';
  color: white;
}


/* WARNING:  */

@media screen and (max-width: 480px)
{
  * {
    display: border-box;
  }


  .filtered-7{
    filter: url(#filter-6);
    fill: blue;
    font-family: 'GapSansBold';
    font-size: 10vw;
    top: 50vw;
  padding: 1.3vw;
  line-height: 9vw;
  text-shadow: blue 30px;

  }

    .sous-titre{
      word-spacing: 8vw;
    }
    .NOTES{
      width: 30vw;
      position: absolute;
      top: 25%;
      left: 65%;
      font-size: .6em;
    }

    .NOTES1{
      width: 30vw;
      position: absolute;
      top: 130%;
      left: 65%;
      font-size: .6em;
    }

    .auteur2{
      position: absolute;
      top: 60%;
      right:5%;
      float: right;
      font-size: 1em;
      font-style: italic;
     -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: .6px white;
      transform: skewY(-10.5deg);
    }

    .auteur{
      position: absolute;
      top: 150%;
      right:5%;
      float: right;
      font-size: 1em;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: .6px white;

    }

    .links{
      position: relative;
      top: 140%;
      left: 10%;
      font-family: 'GapSans';
    font-size: 3vw;
    word-spacing: 3vw;
    }

    .Titre{
    position: absolute;
    top:155%;
    left: 20%;
    text-align: center;
    letter-spacing: 3vw;
    text-decoration: underline;
    }

    .FR{
      font-family: 'GapSans';
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: .6px white;

    }

}

@media screen and (max-height: 585px)
{
.sous-T{
  position: fixed;
  left: 5%;
}

  .sous-titre{
    word-spacing: 7vw;
  }

  .NOTES{
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 65%;
    font-size: .3em;
  }

  .NOTES1{
    width: 30vw;
    position: absolute;
    top: 150%;
    left: 65%;
    font-size: .3em;
  }

  .links{
    position: relative;
    top: 290%;
    left: 3%;
    font-family: 'GapSans';
  font-size: 3vw;
  word-spacing: 3vw;
  }

.Titre{
  position: absolute;
  top:210%;
  left:25%;
  text-align: center;
}

.filtered-8{

  filter: url(#filter-8);
  fill: blue;
  font-family: 'GapSansBold';
  font-size: 5vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 10px;
}

}


@font-face {
font-family: 'Mill';
src: url('../font/Mill.otf') format('opentype');
text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'GapSansBold';
  src:url('../font/GapSansBold.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'IBM-serif';
  src: url('../font/IBMPlexSerif-Regular.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'GapSans';
  src: url('../font/GapSans.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}
